.idea
.ipynb_checkpoints
ami_configuration.ipynb
aws_commands.ipynb
aws_rds_dev.py
ec2_configuration.ipynb
fastapi_commands.ipynb
git_commands.ipynb
poetry_pipx_commands.ipynb
rds_configuration.ipynb
vpc_sg_configuration.ipynb
exercise_s1_dev.ipynb
aws_s3_dev.py
exercise_s4_dev.ipynb

# Ayoub ignore
/logs
config/

.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.hypothesis
.netlify
.mypy
test.db
log.txt
Pipfile.lock
env3.*
env
docs_build
site_build
venv
docs.zip
archive.zip
.ruff_cache
aws_s3_dev.py
aws_rds_dev.py
git_commands.ipynb
dbeaver_commands.ipynb
aws_commands.ipynb
poetry_pipx_commands.ipynb
fastapi_commands.ipynb
exercise_s1_dev.ipynb
exercise_s4_dev.ipynb
docker_commands.ipynb
ec2_configuration.ipynb
ami_configuration.ipynb
rds_configuration.ipynb
vpc_sg_configuration.ipynb
.aws/

# vim temporary files
*~
.*.sw?
.cache

# macOS
.DS_Store

!/data/**/.gitkeep
/data-dev/

.report.json
.pytest.json
